#projects {
  flex-direction: column;
}

.projects-text {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.projects-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 75rem;
}

.project-image {
  max-width: 300px;
  opacity: 1;
  display: block;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin: 1rem;
  transition: 200ms;
}

.project-image:hover img {
  filter: grayscale(100%) blur(1px) brightness(50%);
}

.project-image:hover {
  transform: scale(1.1);
}

.project-image:hover div {
  display: flex;
}

.project-text-overlay {
  position: absolute;
  transform: translate(5%, -108%);
  color: #fff;
  font-size: 18px;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  filter: none;
  width: 100%;
  /* background-color: black; */
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.1rem 0 1rem;
}

.project-image:hover .project-text-overlay {
  opacity: 1;
}

.project-title {
  font-size: 1em;
}

.project-text {
  font-size: 0.75em;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid;
}

.project-lang {
  font-size: 0.65em;
  text-transform: uppercase;
}

.projects-btn {
  margin: 2rem 0;
  display: none;
}

.recipe {
  height: 207px;
}

/* .proj-sai {
  height: 207px;
} */

@media screen and (max-width: 840px) {
  #projects {
    overflow: auto;
    height: auto;
    width: auto;
    margin: 1rem 4px;
  }
}

@media screen and (max-width: 600px) {
  .project-image {
    width: 100vw;
    margin: 0.75rem 0;
  }

  .project-text-overlay {
    padding: 0 2rem 0 0;
  }
}
