#root {
  max-width: 1280px;
  width: 100vw;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

button {
  background: var(--main-color-button);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

section {
  overflow: hidden;
  width: 100vw;
  max-width: 75rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  background-color: var(--main-color-3);
  border: 1rem solid var(--main-color-2);
  border-radius: 0.5em;
  text-align: center;
}

.section-title {
  font-size: 3rem;
  margin: 1rem 0;
}

/* .top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3em 0.3em 0 0;
  background-color: var(--main-color-1);
  color: white;
}

.top-nav-links {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
}

.nav-link-text {
  display: none;
}

.nav-link-icon {
  font-size: 2em;
  padding: 0.25rem;
  color: white;
}

.nav-link-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-name {
  padding: 0 0.75rem;
}

.nav-name a.active {
  color: white;
} */

@media screen and (max-width: 840px) {
  #root {
    flex-direction: column;
    margin: 1rem auto;
  }
}
